.absent-teachers {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 100vw;
    margin: auto;
  
    .toggle-form-btn {
      padding: 0.5rem 1rem;
      background-color: #3b82f6;
      color: white;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
  
      &:hover {
        background-color: #2563eb;
      }
    }
  
    .form-container {
      ul {
        list-style: none;
        padding: 0;
      }
  
      .teacher-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
  
        label {
          cursor: pointer;
        }
      }
    }
  }
  